---
---

@import "{{ site.theme }}";

header {
  border-radius: 4px;
  max-width: 230px;
  left: calc(50% - 430px - 270px);
}

section {
  min-width: 100%;
  width: unset;
}

img {
  border-radius: inherit;
}

h2 {
  padding-top: 20px;
}

li {
  border-top: 1px solid #e5e5e5;
  padding-top: 8px;
  padding-bottom: 8px;
}
li:last-child {
  border-bottom: 1px solid #e5e5e5;
}