---
---

@import "{{ site.theme }}";

header, footer {
  display: none;
}

section {
  min-width: 100%;
  width: unset;
  border: none;
}

h2 {
  padding-top: 20px;
}

li {
  border-top: 1px solid #e5e5e5;
  padding-top: 8px;
  padding-bottom: 8px;
}
li:last-child {
  border-bottom: 1px solid #e5e5e5;
}

img {
  cursor: zoom-in;
}

.thumbnail {
  border-radius: 3px;
  max-height: 130px;
  float: left;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: 10px;
  cursor: pointer;
}
.smol {
  max-height: 90px;
}

.narrowonly {
  display: none;
}

.backheader {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#imgviewerfade {
  display: none;  /* initial value */
}
#imgviewercontainer {
  object-fit: contain;
  z-index: 2;
  justify-content: center;
  display: flex;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: zoom-out;
}
#imgviewer {
  object-fit: contain;
  cursor: zoom-out;
}

#mainimg {
  float: left;
  border-radius: 6px;
  width: 25%;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.fullimg {
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.leftimg {
  border-radius: 3px;
  max-width: 40%;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.galleryimg {
  object-fit: cover;
  flex-grow: 1;
  border-radius: 3px;
  max-height: 150px;
  margin: 2px;
}
.galleryimg:last-child {
  flex-grow: 10;
}

.dropdown {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.dropdowncontent {
  display: none;  /* initial value */
  height: 0;
}


@media (max-width: 720px) {
  .thumbnail {
    margin-bottom: 4px;
  }
  .narrowonly {
    display: block;
  }
}